/*******************************************************************************

	CSS on Sails Framework
	Internet Explorer 7 & Under stylesheet
	Author: XHTMLized (http://www.xhtmlized.com/)

*******************************************************************************/


/* 2. COMMON
--------------------------------------------------------------------------------
==============================================================================*/


/* Clearfix */
.clearfix { zoom: 1; }

.container,
#navigation ul,
#content-wrapper,
#footer_nav,
#footer,
.js #navigation .dropdown-navigation,
.landing-overview,
.bullet-list,
.content-copy,
#mission, 
form dl,
#news-landing-topbox,
#news-article,
#news-info {
	zoom: 1;
}

#audience li {
	height: 25px;	
}

#promotions .scrollable {
	left: 34px;
}

form dd {
	width: 410px;
}


/* 3. PAGES
--------------------------------------------------------------------------------
==============================================================================*/


/* 3.1 Home
------------------------------------------------------------------------------*/


/* 3.2 Prospective Student
------------------------------------------------------------------------------*/


/* 3.3 About Landing
------------------------------------------------------------------------------*/


/* 3.4 About History
------------------------------------------------------------------------------*/


/* 3.5 About Contact
------------------------------------------------------------------------------*/


/* 3.6 Admission Landing
------------------------------------------------------------------------------*/


/* 3.7 Admission Undergraduate
------------------------------------------------------------------------------*/


/* 3.8 Admission Apply
------------------------------------------------------------------------------*/


/* 3.9 Academics
------------------------------------------------------------------------------*/


/* 3.10 Academics Visual Arts
------------------------------------------------------------------------------*/


/* 3.11 Academics Visual Arts BA
------------------------------------------------------------------------------*/


/* 3.12 News & Events Landing
------------------------------------------------------------------------------*/


/* 3.13 News & Events News
------------------------------------------------------------------------------*/
