<?xml version="1.0" encoding="UTF-8"?>
<?pcf-stylesheet path="/_resources/xsl/default.xsl" extension="php"?>
<?php header( '301 Moved Permanently'); header( 'Location: <!--%echo var="url" -->?utm_source=vanityurl&utm_medium=<!--%echo var="medium" -->&utm_campaign=<!--%echo var="campaign" -->' ) ;?> 
